body {
	font-size: 1.2em;
	font-family: serif;
	width: 30em;
	margin: auto;
}

h1 {
	font-size: 2em;
	font-family: sans-serif;
	margin: 1.5em auto;
}

p {
	color: #222222;
	text-indent: 1em;
	text-align: justify;
}

code {
	color: #222222;
}

pre {
	font-family: monospace;
	padding-left: 0.8em;
	border-left: thin solid #4e4e4e;
}

hr {
	height: 1px;
	border: none;
	background-color: #2ba6cb;
}

a {
	color: #2ba6cb;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

#index ul {
	font-family: sans-serif;
	font-size: 1.2em;
	list-style: none;
}

#index li {
	border-bottom: thin solid #eeeeee;
}

div#header {
	font-family: sans-serif;
	font-size: 1.2em;
}

div#info {
	font-family: sans-serif;
	font-style: oblique;
	font-size: 0.8em;
	color: #4e4e4e;
	margin: 1em auto;
}

div#footer {
	font-family: sans-serif;
	font-size: 0.8em;
	margin: 1.5em auto;
	float: right;
}

#footer a {
	color: black;
	font-style: oblique;
	vertical-align: top;
}
