@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff') format('woff'),
	     url('/static/font/Lato-Regular.ttf') format('truetype');
}

body {
	font-family: 'Lato', sans-serif;
	font-size: x-large;
	width: 25em;
	margin: auto;
}

p {
	color: #222222;
	text-indent: 1em;
	text-align: justify;
}

code {
	color: #222222;
}

pre {
	font-family: monospace;
	font-size: large;
	padding-left: 0.8em;
	border-left: thin solid #4e4e4e;
}

hr {
	height: 1px;
	border: none;
	background-color: #2ba6cb;
}

a {
	color: #2ba6cb;
	text-decoration: none;
}

a:hover {
	opacity: 0.6;
}

#index ul {
	list-style: none;
	padding: 0;
	color: #4e4e4e;
}

#index li {
	font-family: monospace;
	border-bottom: thin solid #eeeeee;
	padding: 0.5em;
}

#index li a {
	font-family: 'Lato', sans-serif;
	width: 65%;
	display: inline-block;
}

div#header {
	font-size: 1.4em;
}

#header h1 {
	font-size: 2em;
	margin: 1.5em auto;
}

div#info {
	font-family: monospace;
	color: #4e4e4e;
	margin: 1em auto 2em auto;
}

div#footer {
	margin: 2em auto;
	float: right;
}

div#footer img {
	max-width: 2.5em;
	max-height: 2.5em;
	margin-left: 0.5em;
}

#footer a {
	color: black;
	font-style: oblique;
	font-size: large;
	vertical-align: top;
}
