@font-face {
	font-family: "Ropa Sans";
	src: url("/font/ropa-sans.ttf") format("truetype");
}

body {
	width: 40em;
	margin: auto;
	font-family: "Ropa Sans", monospace;
}

h1 {
	margin: 1.5em auto;
	font-size: 2em;
}

p {
	text-indent: 1em;
	text-align: justify;
}

code {
	color: #222222;
}

pre {
	padding-left: 0.8em;
	border-left: thin solid #1569bc;
	font-size: 0.9em;
	font-family: monospace;
}

hr {
	height: 1px;
	border: none;
	color: black;
	background-color: black;
}

a {
	text-decoration: none;
}

a:link {
	color: #1569bc;
}

a:visited {
	color: #1569bc;
}

div#footer {
	margin: 1.5em auto;
	float: right;
}

span.author {
	font-style: italic;
	vertical-align: top;
}

img.link:hover {
	opacity: 0.5;
}
