[Unit]
Description=Blog Server
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/srv/rlog/rlog
WorkingDirectory=/srv/rlog
Restart=on-abort
User=http

[Install]
WantedBy=multi-user.target
