# TODO: Add command line params and conf file
# TODO: Use syslog from rlog?

[Unit]
Description=Blog Server
Wants=network.target
After=network.target

[Service]
Type=simple
Restart=on-abort
ExecStart=/srv/rlog/rlog
User=http
# FIXME: Use conf file
WorkingDirectory=/srv/rlog

[Install]
WantedBy=multi-user.target
